src/main/app/flowcontrol.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="flowcontrolFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flowcontrol" allowedMethods="GET" doc:name="HTTP"/>
        <expression-component doc:name="Expression"><![CDATA[flowVars.name = message.inboundProperties.'http.query.params'.name;
flowVars.action = message.inboundProperties.'http.query.params'.action;]]></expression-component>
        <choice doc:name="Choice">
            <when expression="#[flowVars.action == 'stop']">
                <scripting:component doc:name="stop">
                    <scripting:script engine="Groovy"><![CDATA[muleContext.registry.lookupFlowConstruct(flowVars.name).stop()]]></scripting:script>
                </scripting:component>
            </when>
            <otherwise>
                <scripting:component doc:name="start">
                    <scripting:script engine="Groovy"><![CDATA[muleContext.registry.lookupFlowConstruct(flowVars.name).start()]]></scripting:script>
                </scripting:component>
            </otherwise>
        </choice>
    </flow>
</mule>
